.plan {
    margin-bottom: 80px;

    @include mobile {
        margin-bottom: 40px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        @include desktop {
            gap: 15px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        display: flex;
        justify-content: center;

        &:last-child {
            @include tablet {
                grid-column: 1 / -1;
            }
        }
    }
}