.review-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    border: var(--border-alt);
    border-radius: var(--border-radius);
    width: 400px;
    height: 100%;
    transition-duration: var(--transition-duration);

    @include mobile-s {
        padding: 10px;
        max-width: 360px;
        width: 100%;
        flex-shrink: 0;
    }

    @include hover {
        border: var(--border);
        transform: scale(0.97);
        box-shadow: var(--shadow-red);
    }

    
    &__header {
        display: flex;
        align-items: center;
    }

    &__image {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 1px;
    }

    &__name {
        font-size: 18px;

        @include mobile-s {
            font-size: 14px;
        }
    }

    &__location {
        font-size: 14px;
    }

    &__rate {
        margin-left: auto;

        svg {
            color: var(--color-star);
        }
    }

    &__description {
        @include mobile-s {
            font-size: 14px;
        }
    }

}